.container {
    width: 100%;
    margin: 25px 0;
    justify-content: space-around;
    background-color: black;
}

.card {
    border: 2px solid ;
    width: fit-content;
    padding: 10px !important;
   
}

.confirmed {
    border: 10px solid rgb(255,106,136);
}

.active {
    border: 10px solid rgb(112,180,255);
}

.recovered {
    border: 10px solid rgb(126,202,143);
}

.deaths {
    border: 10px solid rgb(183,187,191);
}